<div class="exchange-box">
  <div class="left-content">
    <div class="logo-box">
      <%= image_tag 'logo.png', class: "logo" %>
    </div>
    <div class="card-block">
      <div class="header text-center border-bottom">
        Simule sua conversão
      </div>
      <%= form_tag("/exchange", method: "post", id: "exchange_form") do %>
        <div class="local_currency">
          <div class="form-group">
            <p class="title">Moeda Local</p>
            <%= select_tag "currency", options_for_select(currency_select, "BRL"), class: "form-control", id: "currency" %>
          </div>
          <div class="form-group">
            <input type="number" name="quantity" id="quantity" class="form-control" placeholder="Digite um valor ($10)" step="any" required>
          </div>
          <div class="form-group change_currency_values">
            <a href="#" id="change_currency">
              <i class="fa fa-refresh" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        
        <div class="destination_currency">
          <div class="form-group">
            <p class="title">Moeda Pretendida</p>
            <%= select_tag "currency_destination", options_for_select(currency_select, "EUR"), class: "form-control", id: "currency_destination"%>
          </div>
          <div class="form-group">
            <input type="text" id="result" name="result" class="form-control" placeholder="Resultado" readonly>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="right-content">
    <div class="container">
      <h1>Converta facilmente suas Moedas Para qualquer moeda no Mundo!</h1>
    </div>
  </div>
</div>
