* {
  box-sizing: border-box;
}

body {
  background: $blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(135deg, $blue, $light_blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(135deg, $blue, $light_blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(135deg, $blue, $light_blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(135deg, $blue, $light_blue); /* Standard syntax */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  max-width: 810px;
  margin: 10vh auto;
}

.card-bg {
  width: 100%;
  // height: 80vh;
  // max-height: 552px;
  background-color: $white;
  border-radius: 1%;
  -webkit-box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}

.left-content {
  width: 40%;
}

.right-content {
  background: linear-gradient($yellow, transparent),
              linear-gradient(0deg, $blue, transparent 50%),
              $yellow image-url('bg-img.jpeg') no-repeat;
  background-size: cover;
  width: 60%;
  border-radius: 0 1% 1% 0;
  color: $white;
}

h1 {
  text-align: center;
  margin-top: 10rem;
  text-shadow: 2px 2px rgba(0,0,0,0.5);
  letter-spacing: 1px;
}

.logo-box {
  background-color: $yellow;
  border-radius: 1% 0 0 0;
  padding: 20px;
}

.logo {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.exchange-box {
  display: flex;
}


.text-center {
  text-align: center;
}
.border-bottom {
  border-bottom: 1px solid $yellow;
}

.header {
  color: $yellow;
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.card-block {
  padding: 15px;
}

.title {
  color: $grey;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1.25rem;
}

.form-group {
  margin: 1rem auto;
}

.form-control {
  border: none;
  background-color: $white;
  padding: .75rem 8px;
  width: 100%;
  color: $yellow;
}

#quantity, #result {
  border-bottom: 1px solid $yellow;
  color: $grey;
  font-weight: 700;
}

#change_currency {
  color: $yellow;
  padding: 0 0 10px 10px;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

.btn {
  width: 100%;
  background-color: $yellow;
  border: none;
  color: $white;
  padding: 15px 32px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
}


@media screen and (max-width: 950px) {
  .left-content {
    width: 100%;
  }
  .right-content {
    display: none;
  }
}
