* {
  box-sizing: border-box;
}

body {
  background: $blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(135deg, $blue, $yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(135deg, $blue, $yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(135deg, $blue, $yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(135deg, $blue, $yellow); /* Standard syntax */
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin: 10vh auto;
}

.card-bg {
  width: 100%;
  height: 80vh;
  background-color: $white;
  border-radius: 1%;
  -webkit-box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}

.logo-box {
  background-color: $yellow;
  border-radius: 1% 1% 0 0;
  padding: 20px;
}

.logo {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.exchange-box {
  margin-top: 1rem;
  padding: 15px;
}

.text-center {
  text-align: center;
}
.border-bottom {
  border-bottom: 1px solid $yellow;
}

.header {
  color: $yellow;
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.card-block {
  margin-top: 2rem;
}

.title {
  color: $grey;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1.25rem;
}

.form-group {
  margin: 1rem auto;
}

.form-control {
  border: none;
  background-color: $white;
  padding: .75rem 8px;
  width: 100%;
  color: $yellow;
}

.btn {
  width: 100%;
  background-color: $yellow;
  border: none;
  color: $white;
  padding: 15px 32px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
}
